<input
  type="search"
  placeholder="Search films..."
  (input)="onSearch($event.target.value)"
/>

@if (filteredFilms().length === 0) {
  <div>Nothing found</div>
}

<div class="grid">
  @for (film of filteredFilms(); track film.id) {
    <div class="card" [routerLink]="['/film', film.id]">
      <img [src]="film.posterUrl" />

      <h3>{{ film.title }}</h3>
      <p>{{ film.year }} • {{ film.genre }}</p>
      <p>⭐ {{ film.rating }}</p>

      <button class="favorite-btn" (click)="toggleFavorite(film.id); $event.stopPropagation()">
        <span class="icon">
          {{ film.isFavorite ? '⭐' : '☆' }}
        </span>

        {{ film.isFavorite ? 'Remove' : 'Add' }} favorite
      </button>
    </div>
  }
</div>
